* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background-color: #26282b;
    position: relative;
    z-index: 999;
    font-family: montserrat;
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    margin-bottom: 15px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
}

.navbar ul li {
    display: block;
    float: right;
    margin-right: 5px;
}

.navbar ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
}

.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: calc(100vw - 200px);
    width: 200px;
    height: calc(100vh - 65px);
    background-color: #26282b;
}

.navbar ul ul li {
    display: block;
    margin-bottom: 20px;
    width: 200px;
}

.active,
.navbar a:hover {
    background-color: #515458;
    transition: .5s;
}

.logo {
    color: white;
    font-size: xx-large;
    line-height: 24px;
    width: 250px;
    margin-right: auto;
    font-weight: 500;
    margin-left: 7vw;

}

nav ul li a.text {
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
}

.container {
    display: grid;
}

.calculator {
    width: 420px;
    height: auto;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25), inset 5px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #26282b;
    border: 2px solid black;
    margin-top: 2.5px;
    padding: 20px;
    border-radius: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    position: relative;
    justify-self: center;
}

.calculator input {
    margin: 10px 0;
    padding: 12px;
    width: 370px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background: #88ae30;
    font-size: 42px;
    color: azure;
    text-align: right;
}

.calculator button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    color: white;
    position: relative;
    box-shadow: inset -8px 0 1px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
}

.calculator button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    right: 12px;
    bottom: 14px;
    border-radius: 10px;
    background: linear-gradient(90deg, #2f2f2f, #404040);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1), 10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.27);
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.calculator button:active {
    filter: brightness(1.3);
}

.calculator button {
    position: relative;
    cursor: pointer;
}

.calculator button i {
    position: relative;
}

#angleTypeContainer {
    display: none;
}

#angle-label {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    color: #fff;
}

.angle-select {
    margin-top: 8px; 
    padding: 8px; 
    width: 100%; 
    border: none; 
    border-radius: 6px; 
    background-color: #88ae30; 
    color: azure;
    font-size: 14px;
    font-family: "Lora", serif; 
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.25), inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}


.angle-select option {
    background-color: #26282b;
    color: white;
}

form button.equal {
    /* grid-column: span 2; */
    /* width: 175px; */
    background: #0081a8;
}

form button.clear {
    background: red;
}

form button.clear::before {
    background: linear-gradient(90deg, #990000e0, rgba(255, 255, 255, 0.36));
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

form button.equal::before {
    background: linear-gradient(90deg, #1987e1, rgba(255, 255, 255, 0.36));
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}